<div class="outer">
	<div class="header-main">
		<script type="text/javascript">
			var gender;
			$(document).ready ( function () {
				$('div.item').hover (
					function () {
						$('.edit-button').addClass ('display');
					}, function () {
						$('.edit-button').removeClass ('display');
					}
				);

				$('edit-msg').click (
					function () {
						var i = $(this).prev ().attr ('d');
						gender = $(this).parent ().html ();

						$(this).parent ().html ('<input type="radio" name="rdo_gender" value="male"/>' +
									'<input type="radio" name="rdo_gender" value="female" />');
					}
				);
			}
		</script>
		<div class="top">
			<div class="title-section">
				<span class="name">{$real_name}</span>
				<span class="bio" title=""></span>
			</div>
		</div>
		<div class="info-body">
			<div class="pic">
				<img class="headimg" alt="头像"/>
				<span class="edit-tip">修改头像</span>
				<span class="spinner"></span>
			</div>
			<div class="info">
				<div class="right-desc">
					<div class="items">
						<!--居住地-->
						<div class="item">
							<i class="icon icon-location"></i>
							<span title="帐号">{$account}</span>
							<span class="gender">
								<i class="icon icon-male"></i>
							</span>
							<a class="edit-button">
								<!--<i d="1" class="icon icon-edu-button"></i>-->
								<!--<span class="edit-msg">修改</span>-->
							</a>
						</div>
						<!--公司信息-->
						<div class="item">
							<i class="icon icon-email"></i>
							<span title="Email">{$email}</span>
							<a class="edit-button">
									<i class="icon icon-edu-button"></i>
									<span class="edit-msg">修改</span>
								</a>
						</div>
						<div class="item">
							<i class="icon icon-phone"></i>
							<span title="手机号" class="business">{$phone_num}</span>
							<a class="edit-button">
								<i class="icon icon-edu-button"></i>
								<span class="edit-msg">修改</span>
							</a>
						</div>
					</div>
					<div class="describe"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
