<section id="container">
	<div class="zerogrid">
		<div class="wrap-container clearfix">
			<div id="main-content">
				<div class="row wrap-content"><!--Start Box-->
					<div class="header">
						<h1>分享你的智慧</h1>
						<span>最新推送的各人知识 </br>开始旅程。</span>
					</div>	

					<div class="row">
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/1.jpg" />-->
										<img src="http://www.benbenla.cn/images/20120330/benbenla-01a.jpg" />
									</a>
								</div>
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/4.jpg" />-->
										<img src="http://www.benbenla.cn/images/20120330/benbenla-04a.jpg" />
									</a>
								</div>

								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/7.jpg" />-->
										<img src="http://www.benbenla.cn/images/20120330/benbenla-02a.jpg" />
									</a>
								</div>

								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/11.jpg" />-->
										<img src="http://www.kele8.com/uploadfile/2014/0214/20140214093758718.jpg" />
									</a>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/2.jpg" />-->
										<img src="http://img1.3lian.com/2015/a1/80/d/44.jpg" />
									</a>
								</div>
								<div class="it2014em-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/5.jpg" />-->
										<img src="http://pic2.52pk.com/files/141010/4559594_132841_1_lit.jpg" />
									</a>
								</div>
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/8.jpg" />-->
										<img src="http://i0.sinaimg.cn/gm/2014/1107/U11966P115DT20141107114909.jpg" />
									</a>
								</div>
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/15.jpg" />-->
										<img src="http://i1.sinaimg.cn/gm/2014/1208/U11966P115DT20141208171457.jpg" />
									</a>
								</div>
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/14.jpg" />-->
										<img src="http://i3.img.969g.com/news/imgx2015/01/30/322_164131_739e4_lit.jpg" />
									</a>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/3.jpg" />-->
										<img src="http://i2.img.969g.com/tymyd/imgx2015/05/22/338_171952_dd26d.jpg" />
									</a>
								</div>
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/6.jpg" />-->
										<img src="http://img.dwstatic.com/wuxia/1507/299758363898/299759241883.jpg" />
									</a>
								</div>
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/9.jpg" />-->
										<img src="http://i3.sinaimg.cn/gm/2014/1208/U11966P115DT20141208171455.jpg" />
									</a>
								</div>
								<div class="item-container">
									<a href="single.html">
										<div class="item-caption">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h3>Lorem ipsum</h3>
													<span>Artwork</span>
												</div>
											</div>
										</div>
										<!--<img src="images/13.jpg" />-->
										<img src="http://ossweb-img.qq.com/upload/webplat/info/wuxia/201308/1376017837450.png" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
